# 4 project lasso,ridge,elastic_net 
# using for overfitting

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
#load the data
ds=pd.read_csv("Downloads\Advertising.csv")
ds.head(10)

       TV  radio  newspaper  sales
0  230100  37800      69200  22100
1   44500  39300      45100  10400
2   17200  45900      69300   9300
3  151500  41300      58500  18500
4  180800  10800      58400  12900
5    8700  48900      75000   7200
6   57500  32800      23500  11800
7  120200  19600      11600  13200
8    8600   2100       1000   4800
9  199800   2600      21200  10600

In [3]:
ds.shape

(200, 4)

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    int64
 1   radio      200 non-null    int64
 2   newspaper  200 non-null    int64
 3   sales      200 non-null    int64
dtypes: int64(4)
memory usage: 6.4 KB

In [5]:
#eda
ds.describe()

                  TV         radio      newspaper         sales
count     200.000000    200.000000     200.000000    200.000000
mean   147042.500000  23264.000000   30554.000000  14022.500000
std     85854.236315  14846.809176   21778.620839   5217.456566
min       700.000000      0.000000     300.000000   1600.000000
25%     74375.000000   9975.000000   12750.000000  10375.000000
50%    149750.000000  22900.000000   25750.000000  12900.000000
75%    218825.000000  36525.000000   45100.000000  17400.000000
max    296400.000000  49600.000000  114000.000000  27000.000000

In [6]:
ds.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

In [7]:
# divide into x and y
x=ds.drop(columns="sales")
y=ds["sales"]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# #lasso regression  moding with diffut param

In [9]:

from sklearn.linear_model import Lasso
lasso_model=Lasso()
lasso_model.fit(x_train, y_train)

Lasso()

In [10]:
#prediction

test_p=lasso_model.predict(x_test)
train_p=lasso_model.predict(x_train)

In [11]:
#evaluation

from sklearn.metrics import mean_squared_error
train_rmse=np.sqrt(mean_squared_error(y_train,train_p))
test_rmse=np.sqrt(mean_squared_error(y_test,test_p))
print("trainrmse=",train_rmse)
print("test_rmse",test_rmse)

trainrmse= 1644.727765644339
test_rmse 1781.5996513907482

In [19]:
#hyper parameter tuning 
from sklearn.model_selection import GridSearchCV

estimator= Lasso()
pream_grid={"alpha":[0.1,0.2,0.3,0.4,0.5,0.6,0.7,1]}

model_hp=GridSearchCV(estimator,pream_grid,cv=5)

model_hp.fit(x_train,y_train)

model_hp.best_params_

{'alpha': 1}

# ridge regressionn withdefult param
#

In [ ]:

from sklearn.linear_model import Ridge

ridge_model=Ridge()
ridge_model.fit(x_train,y_train)

In [22]:
#prediction

test_p=ridge_model.predict(x_test)
train_p=ridge_model.predict(x_train)

In [23]:
#evaluation 

from sklearn.metrics import mean_squared_error
train_rmse=np.sqrt(mean_squared_error(y_train,train_p))
test_rmse=np.sqrt(mean_squared_error(y_test,test_p))
print(train_rmse,test_rmse)

1644.7277656443373 1781.5996615327344

In [30]:
#hyper parameter tunning indetify the best alpha value for Ridge regession

from sklearn.model_selection import GridSearchCV

estimator=Ridge()

#pream_grid={"alpha":[0.1,0.2,0.3,0.4,0.5,0.6,0.7,1]}
pream_gride={"alpha":list(range(1,54))}

model_hp=GridSearchCV(estimator,pream_grid,cv=5)

model_hp.fit(x_train,y_train)

model_hp.best_params_

{'alpha': 1}

# 3 Elastic net regression modeling with defulit param

In [33]:
from sklearn.linear_model import ElasticNet

enr_model=ElasticNet()

enr_model.fit(x_train,y_train)

ElasticNet()

In [34]:
#prediction
test_p=enr_model.predict(x_test)
train_p=enr_model.predict(x_train)

In [35]:
#Evaluation

from sklearn.metrics import mean_squared_error
train_rmse=np.sqrt(mean_squared_error(y_train,train_p))
test_rmse=np.sqrt(mean_squared_error(y_test,test_p))
print(train_rmse,test_rmse)

1644.7277656443378 1781.5996564385284

In [40]:
#hyper parametor tunning 

from sklearn.model_selection import GridSearchCV

estimator=ElasticNet()

pream_grid={"alpha":[0.1,0.2,0.2,0.3,0.4,0.5,0.6,1,2],
           "l1_ratio":[0.1,0.2,0.3,0.4,0.5,0.6,0.7,1]}

enr_hp=GridSearchCV(estimator,pream_grid,cv=5)

enr_hp.fit(x_train,y_train)
enr_hp.best_params_

{'alpha': 2, 'l1_ratio': 1}